* {
    padding: 0;
    margin: 0;
    border: 0;
    color: white;
}

nav {
    display: flex;
    /* justify-content: space-between; */
    gap: 50px;
    justify-items: center;
    padding: 20px 30px;
    background-color: #222;
    border-bottom: 2px solid #333;
}

nav ui {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 6px;
}

nav a {
    text-decoration: none;
}

.searchbox {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 10px;
}

nav input {
    border: 1px solid #414341;
    border-radius: 4px;
    height: 30px;
    width: 250px;
    padding: 5px;
}

main {
    background-color: black;
    height: 100vh;
}

.about {
    background-color: black;
    height: 60vh;
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 80px;
    padding: 40px;
    border-bottom: 2px solid #333;
}

.left img {
    width: 400px;
    height: 400px;
    border-radius: 20%;
    object-fit: cover;
    border: none;
    /* remove border */
    box-shadow: 0 0 25px rgba(214, 200, 200, 0.1);
}

/* .right
{

} */


.skillpr {
    padding: 50px;
    background-color: black;
}

.con {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin: 50px 0;
    height: 250px;
    width: 100%;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    height: 100%;
    background-color: white;
    border-radius: 40px;
    width: 250px;

}

.block img {
    width: 100%;
    height: 80%;
    border-radius: 40px 40px 0 0;

}

.block h3 {
    color: black;
    margin-top: auto;
    align-self: center;
}



.slide-heading {
    opacity: 0;
    /* start invisible */
    transform: translateX(-100px);
    /* start from left */
    animation: slideIn 1s ease-out forwards;
}

@keyframes slideIn {
    to {
        opacity: 1;
        /* become visible */
        transform: translateX(0);
        /* move to normal position */
    }
}